<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- reset and normalize -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/reset.css">
    
    <link rel="stylesheet" href="css/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    
    <title>Watchlist</title>
</head>
<body>
    <nav>
        <a href="/">
            <img class="logo" src='assets/best-buds-logo.png' alt='movie-guide-logo'/>
        </a>
        
        <h1>
            <%= user.userName %>'s Watch list
        </h1>
        
        <a class="logout" href="/logout">Logout</a>
    </nav>
   
    <div class="gallery-container"
        <ul class="movielist">
            <% movies.forEach( el => { %>
                <%if (el.watched === false) {%>
                    <div class="movie-card">
                        <li class='movieItem' data-id='<%=el._id%>'>
                            <img class="movie-image" src="<%=el.image%>" alt=""poster image" width="128" >
                            <span class='not'><%= el.title %></br></span>
                            <div class="icon-background" data-id='<%=el._id%>'>
                            <span class='watchedMovie fa fa-binoculars'></span>
                            <span class="liked fa fa-arrow-up"></span>
                            <span class='del fa fa-circle-xmark'></span>
                            </div>
                            
                        </li> 
                    </div>
                <%}%>    
                
            <% }) %>    
        </ul>
    </div>
    
<div class="formInputs">
    <!-- <h1><%= user.userName %> has <%= left %> items in watch list.</h1> -->
        
     <!-- //flash alert for failed query request -->
     

        <% if (messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <h2><div class="alert alert-danger"><%= messages.errors%></div></h2>
            <% }) %>    
        <% } %>

        <form autocomplete="off" action="/movies/createMovie" method='POST'>
            <div class="autocomplete" >
            <input id="myInput" type="text" name="movieItem" placeholder="Movie"><input id="submitButton" type="submit">
            </div>
        </form>

        <% var count = 0; %>
        <% movies.forEach( el => { %>
            <%if (el.watched === true) {%>
                <%   count =100 %> 
            <% }}) %>    
  
    <%     if(count > 2)   { %>
        <h1>Already Watched</h1>
        <ul>
    <%      }   %> 

            <% movies.forEach( el => { %>
                <%if (el.watched === true) {%>
                   
                    <li class='movieItem' data-id='<%=el._id%>'>
                        <span class='watched'><%= el.movie %></span>
                        <span class='unWatchedMovie'> Mark unwatched </span>
                        <span class='recommend'> Recommend? </span>
                    </li> 
                <%}%>    
            <% }) %>    
        </ul>
 
</div>



<%- include('partials/footer.ejs') %>

    <script src="js/Main.js"></script>
</body>
</html>