<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    <header class="movieHeader">
        <div class="header-Container">
            <img class="logo" src='assets/best-buds-logo.png' alt='movie-guide-logo'/>
            <h1>Movies to watch</h1>
            <a class="logout"/logout">Logout</a>
        </div>
    </header>
   
    <div class="gallery-container"
        <ul class="movielist">
            <% movies.forEach( el => { %>
                <%if (el.watched === false) {%>
                    <div class="movie-card">
                        <li class='movieItem' data-id='<%=el._id%>'>
                            <img class="movie-image" src="<%=el.image%>" alt=""poster image" width="128" >
                            <span class='not'><%= el.title %></br></span>
                            <span class='watchedMovie'> Mark Watched </span>
                            <span class='del fa fa-circle-xmark'></span>
                        </li> 
                    </div>
                <%}%>    
                
            <% }) %>    
        </ul>
    </div>
    
<div class="formInputs">
    <h1><%= user.userName %> has <%= left %> items in watch list.</h1>
        
     <!-- //flash alert for failed query request -->
        <% if (messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <h2><div class="alert alert-danger"><%= messages.errors%></div></h2>
            <% }) %>    
        <% } %>

        <form autocomplete="off" action="/movies/createMovie" method='POST'>
            <div class="autocomplete" >
            <input id="myInput" type="text" name="movieItem" placeholder="Movie"><input type="submit">
            </div>
        </form>


    <h1>Already Watched</h1>
    <ul>
        <% movies.forEach( el => { %>
            <%if (el.watched === true) {%>
                <li class='movieItem' data-id='<%=el._id%>'>
                    <span class='watched'><%= el.movie %></span>
                    <span class='unWatchedMovie'> Mark unwatched </span>
                    <span class='recommend'> Recommend? </span>
                </li> 
            <%}%>    
        <% }) %>    
    </ul>

</div>

    
    <script src="js/Main.js"></script>
</body>
</html>